* {
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    background-color: yellow;
}
header {
    background-color: red;
}
main {

}
footer {
    background-color: green;
}