:root {
    --rgb-body-background: rgb(255, 0, 0);
    --header-footer-background: white;
    --color-text: black;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
    user-select: none;
    box-sizing: border-box;
}
#bgCanvas {
    position: fixed;
    z-index: -1;
}
html {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    font-size: 2.5vh;
    font-family: Georgia, serif;
    line-height: 1;
    color: var(--color-text);
    background-color: var(--rgb-body-background);
}
header {

}
main {
    flex: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 1em;
}
#main.mobile {
    flex-direction: column;
}
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
header, footer {
    flex: 0 1 auto;
    font-weight: bold;
    background-color: var(--header-footer-background);
    padding: 0.5em 1em;
}
.text-shadow-red {
    text-shadow: var(--rgb-body-background) 0.025em 0 0, var(--rgb-body-background) 0 0.025em 0,
        var(--rgb-body-background) -0.025em 0 0, var(--rgb-body-background) 0 -0.025em 0;
}
#github {
    width: 1em;
    background: url(images/github.svg) center /cover no-repeat content-box padding-box transparent;
}
#github:hover, button:not(.btn-close):hover {
    transform: scale(1.25);
}
#version {
    display: inline-block;
    text-align: center;
}
main > .wrap {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
}
.label {
    flex: 0 1 auto;
    font-weight: bold;
    margin-bottom: 0.25em;
}
.label input {
    width: 2.5vh;
    height: 2.5vh;
}
textarea {
    flex: 1 1 auto;
    font-size: 1em;
    font-family: inherit;
    resize: none;
    padding: 1em;
}
.wrap-menu {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    vertical-align: middle;
    margin: 0.5em;
}
#main.mobile #menu {
    flex-direction: row;
}
.wrap-menu > * {
    margin: 0.5em;
}
.wrap-menu > .btn-convert {
    display: block;
    text-align: center;
    vertical-align: middle;
    width: 2em;
    height: 2em;
    font-size: 1em;
    line-height: 1;
    background: url(images/arrow.svg) center /cover no-repeat;
    border: 0;
}
#main.mobile #convert {
    transform: rotate(90deg);
}
#main.mobile button:hover {
    transform: rotate(90deg) scale(1.25) !important;
}
.close {
    cursor: not-allowed;
    background-color: gray;
    user-select: none;
}
button.btn-close {
    cursor: not-allowed;
}
#main.mobile button.btn-close:hover {
    transform: rotate(90deg) !important;
}
.success {
    color: green;
}
.error {
    color: red;
}
/* Custom scrollbar */
.custom-scroll::-webkit-scrollbar {
    width: 0.5em;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background-color: var(--rgb-body-background);
    border: 1px solid black;
}
